{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "printWidth": 80,
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "trailingComma": "all",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "importOrder": [
    "^react(.*)",
    "^expo-router(.*)",
    "^tamagui(.*)",
    "<THIRD_PARTY_MODULES>",
    "stylesheets/(.*)$",
    "components/(.*)$",
    "context/(.*)$",
    "hooks/(.*)$",
    "utils/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "endOfLine": "lf"
}
