{
  "semi": false,
  "singleQuote": true,
  "trailingComma": "all",
  "jsxSingleQuote": true,
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "importOrder": ["^react", "^@?\\w", "^[./~]"],
  "importOrderSeparation": true
}
